<title>Holiday Homes</title>
<h1>Welcome to Holiday Homes</h1>
<p>test 10th january 12h31 : if you read this:</p>
<p>-my code was pushed on gitHub,</p>
<p>-then my config.yml file performed unit tests before building a docker image</p>
<p>-my config.yml file pushed this image on dockerHub</p>
<p>-and used it for heroku deployment</p>
<p>test2</p>
<p>test3</p>
{# initial version before urls namespaces #}
{#<div><a href="{% url 'profiles_index' %}">Profiles</a></div>#}
{#<div><a href="{% url 'lettings_index' %}">Lettings</a></div>#}

<div><a href="{% url 'profiles:profiles_index' %}">Profiles</a></div>
<div><a href="{% url 'lettings:lettings_index' %}">Lettings</a></div>